<div class="container">
<p>
  listar-contacto works!

</p>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>DNI</th>
        <th>Fecha Nacimiento</th>
        <th></th>
        <th>OPCIONES</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacto of Contactos">
        <td> {{contacto.idcontacto}} </td>
        <td> {{contacto.nombre}} </td>
        <td> {{contacto.apellido1}} </td>
        <td> {{contacto.apellido2}} </td>
        <td> {{contacto.dni}} </td>
        <td> {{contacto.fechanacimiento}} </td>
        <td> <button type="button" class="btn btn-primary">Editar</button></td>
        <td> <button type="button" class="btn btn-danger">Borrar</button></td>
        <td> <button type="button" class="btn btn-primary">Ficha Detallada</button></td>

      </tr>
    </tbody>
  </table>
  <a routerLink="/contactos/contacto">
    <button type="button" class="btn btn-primary">Primary</button>
  </a>
Esto no actualizaaaaa
</div>
