<div class="container">
<p>
</p>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th></th>
        <th>Opciones</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacto of Contactos">
        <td> {{contacto.idpersona}} </td>
        <td> {{contacto.nombre}} </td>
        <td> {{contacto.apellido1}} </td>
        <td> {{contacto.apellido2}} </td>
        <td> <button class="btn btn-success">
          Editar
        </button></td>
        <td> <button class="btn btn-danger"
          (click)="deleteContacto(contacto)">
          Eliminar
        </button></td>
        <td> <a routerLink="ficha/{{contacto.idpersona}}"><button class="btn btn-info"onclick="listaDetallada(contacto)">
          Fichadetallada
        </button></a></td>

      </tr>
    </tbody>
  </table>
  <a routerLink="/contactos/contacto">
    <button type="button" class="btn btn-primary">Añadir contacto</button>
  </a>
</div>
