<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Ficha Detallada</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<body>

	<div class="container text-center">
		<h1>Ficha Detallada</h1>
		<div class="card">

			<h3 class="card-header" data-th-text="${contacto.nombre}"></h3>
			<div class="card-body">
				<ul class="list-group text-center">
					<!-- <li class="list-group-item" data-th-text="${contacto.id}"></li>-->
					<li class="list-group-item" data-th-text="${contacto.nombre}"></li>
					<li class="list-group-item" data-th-text="${contacto.apellido1}"></li>
					<li class="list-group-item" data-th-text="${contacto.apellido2}"></li>
					<li class="list-group-item" data-th-text="${contacto.dni}"></li>
					<li class="list-group-item"
						data-th-text="${contacto.fechanacimiento}"></li>
					<li class="list-group-item" data-th-text="${contacto.direccion}"></li>
					<li class="list-group-item" data-th-text="${provincias[contacto.provinciacontacto].provincia}"></li>
					<li class="list-group-item" data-th-text="${contacto.telefono1}"></li>
					<li class="list-group-item" data-th-text="${contacto.telefono2}"></li>
					<li class="list-group-item" data-th-text="${contacto.telefono3}"></li>
					<li class="list-group-item" data-th-text="${contacto.telefono4}"></li>
				</ul>
			</div>
		</div>
	</div>




</body>
</html>