/* You can add global styles to this file, and also import other style files */

body {
 max-width: fit-content;
  height: auto;
  background-image: url("/assets/index.jpeg");

  background-repeat: no-repeat;
  background-size: cover;
}
