<p>ficha-detallada works!</p>
<div class="card">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>CONTACTO</th>
        <th>DATOS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Nombre:</strong></td>
        <td>{{contacto.nombre}}</td>
      </tr>
      <tr>
        <td><strong>Primer Apellido:</strong></td>
        <td>{{contacto.apellido1}}</td>
      </tr>
      <tr>
        <td><strong>Segundo Apellido:</strong></td>
        <td>{{contacto.apellido2}}</td>
      </tr>
      <tr>
        <td><strong>Fecha de Nacimiento:</strong></td>
        <td>{{contacto.fechanacimiento}}</td>
      </tr>
      <tr>
        <td><strong>DNI:</strong></td>
        <td>{{contacto.dni}}</td>
      </tr>
      <!--
        <tr>
        <td><strong>Teléfono:</strong></td>
        <td>Mark</td>
      </tr>
      <tr>
        <td><strong>Provincia:</strong></td>
        <td>Mark</td>
      </tr>
      <tr>
        <td><strong>Localidad:</strong></td>
        <td>Mark</td>
      </tr>
      <tr>
        <td><strong>Dirección:</strong></td>
        <td>Mark</td>
      </tr>
      <tr>
        <td><strong>Código Postal:</strong></td>
        <td>Mark</td>
      </tr>
      -->
    </tbody>
  </table>
</div>
