<!-- The content below is only a placeholder and can be replaced. -->
<div class="outer">
  <div class="middle">
    <div class="inner">
      <div>
        <div class="container text-center">
          <div class="card" style="position: relative; width: 100%;">
            <div class="card-body">
              <h2>Bienvenido a </h2>
              <h1>La Agenda Buena</h1>
              <br />
              <br />
              <h3 class="card-title">

              <a routerLink="/contactos">Accede a nuestra lista de contactos</a>
              </h3>
            </div>
          </div>
          <div class="form-group"></div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
